<div id="header" style="position: fixed; top: 0px; left: 20%; width: 60%; z-index: 5; background-color: lightblue;">Your move, {{gameController.currentPlayer}}!</div>
<canvas id="renderCanvas" ng-swipe-left="gameController.handleSwipe(true)" ng-swipe-right="gameController.handleSwipe(false);" style="height: 100%; touch-action: none"></canvas>
<div id="player1Properties" style="position: fixed; top: 0px; left: 0; width: 15%; height: 11%; border-bottom: 2px solid #404040; border-right: 2px solid #404040; background: -webkit-gradient(linear, left top, left bottom, from(#0000c0), to(#000070))">
    <table style="height: 100%; padding-bottom: 2px">
        <tr style="height: 50%"><td style="color: #909020; padding-left: 3px">{{gameController.playerModels[0].name}}</td></tr>
        <tr style="height: 50%"><td style="color: #C0B020; padding-left: 3px">{{gameController.playerModels[0].money}}</td></tr>
    </table>
</div>
<div id="player2Properties" style="position: fixed; top: 0px; right: 0; width: 15%; height: 11%; border-bottom: 2px solid #404040; border-left: 2px solid #404040; background: -webkit-gradient(linear, left top, left bottom, from(#0000c0), to(#000070))">
    <table style="height: 100%; padding-bottom: 2px">
        <tr style="height: 50%"><td style="color: #909020; padding-left: 3px">{{gameController.playerModels[1].name}}</td></tr>
        <tr style="height: 50%;"><td style="color: #C0B020; padding-left: 3px">{{gameController.playerModels[1].money}}</td></tr>
    </table>
</div>
<div id="titleDeed" style="position: fixed; top: 10%; left: 30%; width: 40%; height: 80%; background-color: white; border: 2px; border-radius: 3px; padding: 7px" ng-show="gameController.availableActions.buy">
    <table style="width: 100%; height: 100%; border: 2px solid black; border-radius: 3px">
        <tr>
            <td>
                <div id="titleDeedAsset" style="width: 100%; height: 100%; padding-left: 7px; padding-right: 7px; padding-top: 5px" ng-show="!gameController.assetToBuy.isUtility && !gameController.assetToBuy.isRailway">
                    <table style="background-color: {{gameController.assetToBuy.color}}; width: 100% ; height: 20% ; border: 2px solid black; border-radius: 3px ">
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 12px">TITLE DEED</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 16px; font-weight: bold">{{gameController.assetToBuy.name}}</td>
                        </tr>
                    </table>
                    <table style="width: 100%; height: 80%">
                        <tr style="height: 13%">
                            <td colspan="2" style="text-align: center; font-weight: bold">RENT M{{gameController.assetToBuy.priceRent[0]}}</td>
                        </tr>
                        <tr style="height: 8%">
                            <td style="width: 70%">With 1 House</td>
                            <td style="text-align: right">M{{gameController.assetToBuy.priceRentHouse[0]}}</td>
                        </tr>
                        <tr style="height: 8%">
                            <td style="width: 70%">With 2 Houses</td>
                            <td style="text-align: right">M{{gameController.assetToBuy.priceRentHouse[1]}}</td>
                        </tr>
                        <tr style="height: 8%">
                            <td style="width: 70%">With 3 Houses</td>
                            <td style="text-align: right">M{{gameController.assetToBuy.priceRentHouse[2]}}</td>
                        </tr>
                        <tr style="height: 8%">
                            <td style="width: 70%">With 4 Houses</td>
                            <td style="text-align: right">M{{gameController.assetToBuy.priceRentHouse[3]}}</td>
                        </tr>
                        <tr style="height: 8%">
                            <td style="width: 70%">With Hotel</td>
                            <td style="text-align: right">M{{gameController.assetToBuy.priceRentHotel}}</td>
                        </tr>
                        <tr style="height: 13%">
                            <td colspan="2" style="text-align: center; font-weight: bold">Mortage Value M{{gameController.assetToBuy.priceMortgage}}</td>
                        </tr>
                        <tr style="height: 10%">
                            <td colspan="2" style="text-align: center;">Houses cost M{{gameController.assetToBuy.priceHouse}} each</td>
                        </tr>
                        <tr style="height: 10%">
                            <td colspan="2" style="text-align: center;">Hotels, M{{gameController.assetToBuy.priceHotel}} each</td>
                        </tr>
                        <tr style="height: 8%">
                            <td colspan="2" style="text-align: center;">plus 4 houses</td>
                        </tr>
                        <tr >
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </div>
                <div id="titleDeedUtility" style="width: 100%; height: 100%; padding-left: 7px; padding-right: 7px; padding-top: 5px" ng-show="gameController.assetToBuy.isUtility">
                    <table style="width: 100%; height: 100%">
                        <tr style="height: 30%">
                            <td>
                                <div style="background-image: url(images/lightbulb.png); background-size: contain; background-position: center; background-repeat: no-repeat; height: 100%; width: 100%" ng-show="gameController.assetToBuy.name == 'Javna razsvetljava'">
                                </div>
                                <div style="background-image: url(images/faucet.png); background-size: contain; background-position: center; background-repeat: no-repeat; height: 100%; width: 100%" ng-show="gameController.assetToBuy.name != 'Javna razsvetljava'">
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 12%">
                            <td style="text-align: center; font-weight: bold;">{{gameController.assetToBuy.name}}</td>
                        </tr>
                        <tr style="height: 16%">
                            <td style="text-align: center">If one Utility is owned, rent is 4 times the amount shown on dice.</td>
                        </tr>
                        <tr style="height: 27%">
                            <td style="text-align: center; vertical-align: top">If both Utilities are owned, rent is 10 times the amount shown on dice.</td>
                        </tr>
                        <tr style="height: 15%">
                            <td style="text-align: center">Mortgage Value M{{gameController.assetToBuy.priceMortgage}}</td>
                        </tr>
                    </table>
                </div>
                <div id="titleDeedRailway" style="width: 100%; height: 100%; padding-left: 7px; padding-right: 7px; padding-top: 5px" ng-show="gameController.assetToBuy.isRailway">
                    <table style="width: 100%; height: 100%">
                        <tr style="height: 30%">
                            <td>
                                <div style="background-image: url(images/railroad.png); background-size: contain; background-position: center; background-repeat: no-repeat; height: 100%; width: 100%">
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 15%">
                            <td style="text-align: center; font-weight: bold; vertical-align: middle">{{gameController.assetToBuy.name}}</td>
                        </tr>
                        <tr style="height: 55%">
                            <td>
                                <table style="width: 100%; height: 100%">
                                    <tr style="height: 15%">
                                        <td>RENT</td>
                                        <td style="text-align: right">M{{gameController.assetToBuy.priceRent[0]}}</td>
                                    </tr>
                                    <tr style="height: 15%">
                                        <td style="width: 70%">If 2 Stations Owned</td>
                                        <td style="text-align: right">M{{gameController.assetToBuy.priceRent[1]}}</td>
                                    </tr>
                                    <tr style="height: 15%">
                                        <td style="width: 70%">If 3 Stations Owned</td>
                                        <td style="text-align: right">M{{gameController.assetToBuy.priceRent[2]}}</td>
                                    </tr>
                                    <tr style="height: 15%">
                                        <td style="width: 70%">If 4 Stations Owned</td>
                                        <td style="text-align: right">M{{gameController.assetToBuy.priceRent[3]}}</td>
                                    </tr>
                                    <tr style="height: 40%">
                                        <td colspan="2" style="text-align: center; vertical-align: middle">Mortage Value M{{gameController.assetToBuy.priceMortgage}}</td>
                                    </tr>
                                </table>                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="assetManagement" style="position: fixed; top: 10%; left: 10%; width: 80%; height: 80%; background-color: lightgray; border: 2px; border-color: black; border-radius: 3px; display: none">
    <table style="width: 100%; height: 100%">
        <tr>
            <td style="width: 47%; height: 100%">
                <div style="position: relative; padding: 10px; box-shadow: 10px 10px 5px #888888; width: 100%; height: 100%; border: 2px double black">
                    <table style="width: 100%; height: 100%">
                        <tr style="height: 50px">
                            <td>
                                <a ng-click="gameController.closeAssetManagementWindow()"><img id="buttoncloseAssetManagementWindow" class="commandButton unhighlightedButton" src="images/back.png" draggable="false"/></a>
                            </td>
                        </tr>
                        <tr style="height: 60px">
                            <td>
                                <div style="display: table; margin-left: auto; margin-right: auto; width: auto">
                                    <a ng-disabled="!gameController.canMortgageSelected()" ng-click="gameController.toggleMortgageConfirm()"><img id="buttonToggleMortgage" class="commandButton unhighlightedButton" src="images/home-price-hi.png" draggable="false"/></a>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 20px">
                            <td style="text-align: center">
                                <div ng-show="!gameController.assetToManage.unowned">
                                    Owned by {{gameController.assetToManage.owner}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="width: 10px"></td>
            <td>
                <div style="padding: 10px; width: 100%; height: 100%;">
                    <table style="width: 100%; height: 100%; background-color: white">
                        <tr style="height: 10%">
                            <td colspan="2" style="text-align: center; font-size: 12px">TITLE DEED MANAGEMENT</td>
                        </tr>
                        <tr style="height: 10%">
                            <td colspan="2" style="text-align: center; font-size: 16px; font-weight: bold">{{gameController.assetToManage.name}}</td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="card" style="position: fixed; display: none; top: 25%; left: 15%; width: 70%; height: 50%; background-color: white; border: 2px; border-color: black; border-radius: 3px">
    <table style="width: 100%; height: 100%">
        <tr style="height:20%">
            <td style="text-align: center; font-size: 18px; font-weight: bold">{{gameController.currentCard.title}}</td>
        </tr>
        <tr style="height:10%"><td></td></tr>
        <tr style="height:70%">
            <td style="text-align: center; font-size: 16px;">{{gameController.currentCard.message}}</td>
        </tr>
    </table>
</div>

<div style="position: fixed; top: 15%; left: 10%; width: 80%;">
    <div id="messageOverlay" style="position: relative; display: none; color: red; font-size: 16px; font-weight: bold; width: 100%; text-align: center; z-index: 1" class="shadow-basic"></div>    
</div>

<div id="commandPanel" style="position: fixed; bottom: 2%; left: 0px; width: 100%">
    <div style="display: table; margin-left: auto; margin-right: auto; width:auto">
        <a ng-show="gameController.availableActions.throwDice" ng-click="gameController.setupThrowDice()" style="position: relative">
            <div style="position: absolute; top: -53px; left: 0px; width: 80px;">
                <div class="commandButtonOverlayText" style="display: none">
                    Throw dice
                </div>
            </div>
            <img id="buttonThrowDice" class="commandButton unhighlightedButton" src="images/Dice2.png" draggable="false"/>
        </a>
        <a ng-show="gameController.availableActions.buy" ng-click="gameController.buy()" style="position: relative">
            <div style="position: absolute; top: -53px; left: 0px; width: 80px;">
                <div class="commandButtonOverlayText" style="display: none">
                    Buy
                </div>
            </div>
            <img id="buttonBuy" class="commandButton unhighlightedButton" src="images/buy.png" draggable="false" />
        </a>
        <a ng-show="gameController.availableActions.manage" ng-click="gameController.manage()" style="position: relative">
            <div style="position: absolute; top: -53px; left: 0px; width: 80px;">
                <div class="commandButtonOverlayText" style="display: none">
                    Manage
                </div>
            </div>
            <img id="buttonManage" class="commandButton unhighlightedButton" src="images/management.png" draggable="false" />
        </a>
        <a ng-show="gameController.availableActions.endTurn" ng-click="gameController.endTurn()" style="position: relative">
            <div style="position: absolute; top: -53px; left: 0px; width: 80px;">
                <div class="commandButtonOverlayText" style="display: none">
                    End turn
                </div>
            </div>
            <img id="buttonEndTurn" class="commandButton unhighlightedButton" src="images/next.png" draggable="false" />
        </a>
    </div>
</div>
<div id="manageCommandPanel" style="position: fixed; bottom: 2%; left: 0px; width: 100%; display: none">
    <div style="display: table; margin-left: auto; margin-right: auto; width: auto">
        <a ng-click="gameController.returnFromManage()"><img id="buttonReturnFromManage" class="commandButton unhighlightedButton" src="images/back.png" draggable="false" /></a>
    </div>
</div>
<div id="actionButtonPanel" style="position: fixed; bottom: 8%; width: 100%;" ng-show="gameController.actionButtonsVisible">
    <div style="display: block; margin-left: auto; margin-right: auto; width: 120px">
        <a ng-click="gameController.executeCancelAction({})"><img style="width: 40px; height: 40px" src="images/Cancel.png"/></a>
        <a ng-click="gameController.executeConfirmAction({})" style="margin-left: 20px"><img style="width: 40px; height: 40px" src="images/CheckMark.png"/></a>
    </div>
</div>
<div id="mortgageConfirmDialog" style="display: none">
    <div id="mortgageConfirmText">Confirm mortgage</div>
</div>
<div id="generalPopupDialog" style="display: none">    
</div>

