<img class="background" style="z-index: -1" />
<div style="height: 28%; width:100%"></div>
<div id="helpContent" style="height: 72%; overflow-y: auto">
    <br/>
    <table style="width: 100%">
        <tr>
            <td style="text-align: center">
                <h3 style="color: #aaaaaa">
                    Sorry, game statistics not available in this version.
                </h3>
            </td>
        </tr>
    </table>
</div>
<div style="position: fixed; left: 12px; top:12px">
    <a ng-click="stats.goBack()">
        <div class="backButton">
        </div>
    </a>
</div>
